section {
  width: 600px;
  margin: 30px auto;
  font-family: "Roboto", sans-serif;
}
section form input,
textarea,
select {
  margin: 10px 0px 10px 0px;
}
section form {
  border: 3px solid whitesmoke;
  border-radius: 10px;
  padding: 15px;
}
section form h2,
h3 {
  font-weight: 300;
}
section form .form-group {
  border: 3px solid whitesmoke;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  padding: 10px;
}
section form p input {
  margin-right: 10px;
  margin-top: 3px;
}
section form p {
  margin-top: 15px;
}
section .boxes {
  width: 80%;
  display: inline-block;
}
section .buttonBox {
  float: right;
}
section .buttonBox button {
  margin-top: 30px;
}
section .form-group button {
  margin-top: 10px;
}
